
{% load static %}
{% load cache %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'Blog/css/styles.css' %}">
    
    <title>Document</title>
</head>
<body>
       
        <div class="container-fluid bg-dark">
          {% include 'Blog/navbar.html' with time="604800" %}
        </div>
   
<div class="container">
    <div class="row">
        <div class="col-sm-12">

          {% block msg %}
          {% endblock msg %}

        </div>

    </div>
</div>

<div class="row">
    {% block side %}

    {% endblock side %}



    {% block content %}

    {% endblock content %}


</div>


















































<script src="{% static 'Blog/js/jquery.js' %}"></script>    
<script src="{% static 'Blog/js/popper.js' %}"></script>    
<script src="{% static 'Blog/js/bootstrap.js' %}"></script>    

</body>
</html>